.bRS, .adG {
    border: 1px solid #ddd;
    padding: 15px;
    background: #fff;
    position: relative;
    margin: 0 0 15px;
    color: #273138;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    float: left;
    width: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}